*-debug.log
*-error.log
node_modules

# Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

tsconfig.tsbuildinfo

plugins/dist
tests/unit-tests/**/data
!tests/unit-tests/mock_cfs/Data
.rollup.cache
plugins/.rollup.cache
.DS_Store
**/__pycache__/